h1
{
    text-align: center;
}

.svg1
{margin-left:100px;}

.button1
{
    position: absolute;
    left:168;
}

.button2
{
    position: absolute;
left:575px;
}


.button3
{
    position: absolute;
    right:168px;
}

.compare
{
    margin-top:120px;
    margin-left:300px;;
}


.svg2
{margin-left:300px;
margin-top: 20px;}

.mis
{position:absolute;
left:1110;
width:25%;}

.dbutton
{
    position:absolute;
    left:1100px;
    top:400px;
}


.button5
{
    position:absolute;
    left:150px;
    top:300px;
}
.button6
{
    position:absolute;
    left:150px;
    top:350px;
}

.button7
{
    position:absolute;
    left:150px;
    top:400px;
}

.button8
{
    position:absolute;
    left:150px;
    top:450px;
}


.svg3
{
    position:absolute;
    left:380px;
    top:250px
}

.button1,.button2,.button3
{
    border: 2px solid #5C586B;
    text-emphasis: bold;
    text-decoration: none;
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 18px; 
}

}

.button1,.button2,.button3:hover
{
    box-shadow: inset 1 1 1 5px #F5EBEE;
    font-weight: bold;
    transition: 0.4s;
}

.text1
{
    position: absolute;
    left:1200px;
    top:300px;
    width:22%;
}

.conclusion
{
    position: absolute;
    left:550px;
    top:250px;
    width:43%;
}